<%= form_for(@problem_attempt) do |f| %>
  <% if @problem_attempt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@problem_attempt.errors.count, "error") %> prohibited this problem_attempt from being saved:</h2>

      <ul>
      <% @problem_attempt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
